* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background-color: black;
    width: 100%;
    height: 100%;
}

body {
    font-family: "El Messiri", sans-serif;
    background-image: url('./img/bg.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat-y;
    width: 640px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: "El Messiri Bold", sans-serif;
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
}

@font-face {
    font-family: "El Messiri";
    src: url("./font/ElMessiri-Regular.ttf");
}

@font-face {
    font-family: "El Messiri Bold";
    src: url("./font/ElMessiri-Bold.ttf");
}

@font-face {
    font-family: "El Messiri Medium";
    src: url("./font/ElMessiri-Medium.ttf");
}

@font-face {
    font-family: "El Messiri SemiBold";
    src: url("./font/ElMessiri-SemiBold.ttf");
}

header {
    text-align: center;
    /* margin-top: 170px; */
    position: absolute;
    z-index: 0;
}

header h1 {
    text-align: right;
    font-size: 48px;
}

.imgAnna {
    position: relative;
    margin-top: 150px;
}