* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: "El Messiri", sans-serif;
    background-image: url('./img/bg.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat-y;
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: "El Messiri Bold", sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
}

@font-face {
    font-family: "El Messiri";
    src: url("./font/ElMessiri-Regular.ttf");
}

@font-face {
    font-family: "El Messiri Bold";
    src: url("./font/ElMessiri-Bold.ttf");
}

@font-face {
    font-family: "El Messiri Medium";
    src: url("./font/ElMessiri-Medium.ttf");
}

@font-face {
    font-family: "El Messiri SemiBold";
    src: url("./font/ElMessiri-SemiBold.ttf");
}

header {
    text-align: center;
    margin-top: 170px;
    position: absolute;
    z-index: 0;
}

h1 {
    display: flex;
    font-size: 42px;
    justify-content: space-between;
    width: 560px;
}

h1 span:first-child {
    position: absolute;
    left: 100px;
}

h1 span:last-child {
    position: absolute;
    right: -30px;
}

h2 {
    margin-top: 50px;
    font-size: 28px;
}

h2 span:first-child {
    position: absolute;
    left: 50px;
}

h2 span:last-child {
    position: absolute;
    right: 120px;
}


.imgAnna {
    position: relative;
    margin-top: 150px;
}